html,body {
    height: 100%;
}
.bg-dark {
    background-color: rgb(66, 66, 66);
    height: 100%;
    color:white;
}

.title {
    text-align: center;
}
.subtitle {
    text-align: center;
}
/* Card */
#pointText {
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
#remainingText {
    font-size: 20px;
}
.correctAnimation{
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 1s 1;
}
#pointCount {
}
@keyframes blinkingBackground{
    0%		{ background-color: clear;}
    25%		{ background-color: #0aef0a; color:white}
    50%		{ background-color: clear;}
    75%		{ background-color: #0aef0a; color:white}
    100%	{ background-color: clear;}
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#cardDisplay {
    margin-left: auto;
    margin-right: auto;
    max-width: 226px;
    max-height: 314px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Red or Black Buttons */
.redBlackContainer {
}
#redButton {
    background-color:red;
    color: white;
    outline: none;
    width: 100px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
#blackButton {
    background-color:black;
    color: white;
    outline: none;
    width: 100px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
#nextButton {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
#restartButtton {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
#deckId {
    opacity: 20%;
}